# Logs
./cpawtech-frontend/logs
./cpawtech-frontend/*.log
./cpawtech-frontend/npm-debug.log*
./cpawtech-frontend/yarn-debug.log*
./cpawtech-frontend/yarn-error.log*
./cpawtech-frontend/pnpm-debug.log*
./cpawtech-frontend/lerna-debug.log*

node_modules
./cpawtech-frontend/dist
./cpawtech-frontend/dist-ssr
./cpawtech-frontend/*.local

# Editor directories and files
./cpawtech-frontend/.vscode/*
./cpawtech-frontend/!.vscode/extensions.json
./cpawtech-frontend/.idea
./cpawtech-frontend/.DS_Store
./cpawtech-frontend/*.suo
./cpawtech-frontend/*.ntvs*
./cpawtech-frontend/*.njsproj
./cpawtech-frontend/*.sln
./cpawtech-frontend/*.sw?
